* {
	font-family: "Montserrat", "sans-serif";
	box-sizing: border-box;
}

.wrapper {
	height: 5rem;
	width: 100%;
}

header {
  	background-color: #A4ABFF;
  	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
}

header h1 {
	float: left;
	font-size: 2rem;
	color: #FFFFFF;
	margin-left: 1rem;
}

nav {
	padding-top: 0.5rem;
	float: right; 
}

nav a {
	border-radius: 1rem;
	text-decoration: none;
	color: #FFFFFF;
	margin-right: 1.7rem;
	text-align: center;
	padding: auto;
}

nav a:hover {
	background-color: #7D86FF;
	text-decoration: none;
	color: #FFFFFF;
}

img {
	height: auto;
	width: 30%;
	padding: 1rem;
	border-radius: 50%;
	margin: 0.8rem;
	border: 0.2rem solid #A4ABFF;
	float: left;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border: 0.12rem solid #A4ABFF;
	position: fixed;
	padding: 0.8rem;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: #FFFFFF;
}

footer h2 {
	font-size: 1rem;
	text-align: center;
	color: #5662FD;
}

main {
	margin-right: 1rem;
	margin-left: 1rem;
}

/* Add media queries for responsiveness - when the screen is 550px wide or less, stack the links on top of each other */
@media screen and (max-width: 550px) {
  header {
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  }
  header nav {
  	display: flex;
  	flex-direction: column;
  	width: 100%;
  }
  a {
  	width: 100%;
  }

  footer {
  	display: block;
  }
  img {
  	height: auto;
  	min-width: 5rem;
  }
  body {
  	text-align: center;
  }
  .wrapper {
  	height:11rem;
  }
}